<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>管理员登录页面</title>
		<link rel="stylesheet" href="/layui/css/layui.css">
		<link rel="stylesheet" href="/css/admin.css">
		<link rel="icon" href="/img/ico.png" type="img/x-ico">
		<!--<style type="text/css">
			body {
				background-image: url(/img/admin_bg.gif);
				background-repeat: no-repeat;
				background-size: 1600px 798px;
			}
		</style>-->
	</head>

	<body>
		<div class="layui-container">
			<div class="layui-row admin_total">
				<form class="layui-form adminlogin" action="" id="adminlogin">
					<div class="layui-form-item">
						<label class="layui-form-label">账号:</label>
						<div class="layui-input-inline">
							<input type="text" name="adminname" required lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-form-mid layui-word-aux H"><span style="color: red;">*</span>账号必填</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">密码:</label>
						<div class="layui-input-inline">
							<input type="password" name="adminpassword" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-form-mid layui-word-aux H"><span style="color: red;">*</span>密码必填</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">验证码:</label>
						<div class="layui-input-inline ">
							<input type="text" name="coder" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input yanzhengma">
						</div>
						<div class="layui-form-mid layui-word-aux coder">
							<img src="/coder" alt="" id="codeimg">
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn admin-login" type="button" lay-submit lay-filter="login">登录</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
		<script src="/layui/layui.all.js"></script>
		<script src="/js/adminlogin.js"></script>

	</body>

</html>