<% include head.html%>
<div class="layui-body">
	<div class="admin_content">
		<span class="layui-breadcrumb">
        <a href="/admin" style="font-size: 16px; font-weight: bold; display: block; margin-top: 10px;"><<返回首页</a>
    </span>
		<hr>
		<table class="layui-table  mytable ">
			<colgroup>
				<col width="100">
				<col width="300">
				<col width="180">
				<col width="280">
				<col width="300">
				<col>
			</colgroup>
			<thead>
				<tr>
					<th>ID</th>
					<th>小说名字</th>
					<th>小说作者</th>
					<th>关键字</th>
					<th>添加时间</th>
					<th>操作</th>
				</tr>
			</thead>
			
			<!--<tbody>
				<tr>
					<th>12</th>
					<th>213</th>
					<th>54</th>
					<th>75</th>
					<th>添加45时间</th>
					<th>77</th>
				</tr>
			</tbody>-->
			<tbody>
				<% for (let n of booklist){ %>
				<tr>
					<td>
						<%=n.nid%>
					</td>
					<td>
						<%=n.nname%>
					</td>
					<td>
						<%=n.aname%>
					</td>
					<td>
						<%=n.keywords%>
					</td>
					<td>
						<%=n.ndatetime.toLocaleString()%>
					</td>
					<td>
						<a href="javascript:;" class="delbook" nid="<%=n.nid%>">删除</a>
						

					</td>
				</tr>
				<%}%>
			</tbody>
		</table>
			<nav aria-label="Page navigation">

			<ul class="pagination">
				<li>
					<a href="/admin/suspensebook?page=<%=page-1%>" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<% for(let p=start; p<=end; p++){ %>
				<li<%- (page==p)?( ' class="active"'): ''%>>
					<a href="/admin/suspensebook?page=<%=p%>">
						<%=p%>
					</a>
					</li>
					<% } %>
					<li>
						<a href="/admin/suspensebook?page=<%=(page*1+1 > totalpage) ? totalpage:(page*1+1) %>" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
			</ul>
		</nav>
	</div>
	<!--<button  class="layui-btn layui-btn-radius layui-btn-primary"> <a href="/admin/suspensebook">上一页</a></button>-->
<!--<button  class="layui-btn layui-btn-radius layui-btn-primary"> <a href="/admin/suspensebook">下一页</a></button>-->	
</div>
<% include foot.html%>