<% include header.html%>

<li>
    <h3 class="au-title">作品管理</h3>
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>小说ID</th>
                <th>书名</th>
                <th>最新章节</th>
                <th>状态</th>
                <th>操作
                    <a href="/author/write_novel" class="write_novel">创建新书</a>
                </th>

            </tr>
        </thead>
        <tbody class="look">
            <% for(let n of books){ %>
            <tr>
                <td><%=n.nid%></td>
                <td>
                    <img src="<%=n.nimg%>" alt="">
                    <p><%=n.nname%></p>
                </td>
                <td>
                    <% if(JSON.parse(n.section).length){ %>
                    <p>
                        第 <%= JSON.parse(n.section).length %> 章
                    </p>
                    <p>
                        <%= JSON.parse(n.section)[JSON.parse(n.section).length-1].sname %>
                    </p>
                    <%}else{%>
                        <p>无最新章节</p>
                    <%}%>
                </td>
                <td>
                    <%= n.serial==0?"连载":"完结"%>
                </td>
                <td>
                    <button class="au-btn write_section">写新章节</button>
                    <button class="au-btn overbook">完结此书</button>
                </td>
            </tr>
            <%}%>
        </tbody>
    </table>

</li>

<% include footer.html %>