<% include header.html%>
<li>
    <h3 class="au-title">
        <%=nname%>
    </h3>
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>章节ID</th>
                <th>章节序号</th>
                <th>章节名</th>
                <th>创建时间</th>
            </tr>
        </thead>
        <tbody class="look _look">
            <% for(let s of book){ %>
            <tr>
                <th>
                    <a href="/author/_look?sid=<%=s.sid%>">
                        <%=s.sid%>
                    </a>
                </th>
                <th><a href="/author/_look?sid=<%=s.sid%>">第
                        <%=s.sortnum%>章</a></th>
                <th><a href="/author/_look?sid=<%=s.sid%>">
                        <%=s.sname%></a>
                </th>
                <th>
                    <%= s.sdatetime%>
                </th>
            </tr>
            <%}%>
        </tbody>
    </table>
</li>
<% include footer.html %>