
    <div class="footer">
            <div class="layui-breadcrumb" lay-separator="|">
                            <a href="https://www.yuewen.com">关于我们</a>
                            <a href="https://www.yuewen.com">联系我们</a>
                            <a href="/help">帮助中心</a>
                            <a href="">客服中心</a>
                            <a href="">加入我们</a>
                            <a href="">作家专区</a>
                            <a href="">动漫频道</a>
                            <a href="">游戏专区</a>
                            <a href="">举报中心</a>
            </div>
    </div>

    <script src="/layui/layui.all.js"></script>
    <script src="/js/userlogin.js"></script>
    <script src="/js/usersearch.js"></script>
    
</body>

</html>