<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>头部</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/index.css">
    
</head>

<body >
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header header1">
            <img src="/img/logo.png"  alt="">
            <div id="box">
                    <input type="text" name="search" placeholder="请输入关键字">
                    <div id="search">搜索</div> 
            </div>
            <div id="login1">
                <ul>
                    <li><a href= <%= uid?"/mycenter":"/ulogin"%> ><%- uid?uid:"登录"%></a> </li>
                    <li id="user1">&nbsp;<a href=<%= username?"/mycenter":"/ulogin"%>><%= username?username:"注册"%></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="top2">
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item layui-this"><a href="">全部</a></li>
            <li class="layui-nav-item "><a href="">完结</a></li>
            <li class="layui-nav-item"><a href="">古代言情</a></li>
            <li class="layui-nav-item"><a href="">现代言情</a></li>
            <li class="layui-nav-item"><a href="">玄幻仙侠</a></li>
            <li class="layui-nav-item"><a href="">悬疑灵幻</a></li>
            <li class="layui-nav-item author"><a href="/author">作者专区</a></li>
        </ul>
    </div>