<% include header.html%>
<div class="help-head">
    <div class="box-center">
        <h2 class="lang">帮助中心</h2>
        <div class="nav">
            <span class="active lang">用户指南</span>
            <!--<i>|</i><span><a class="lang" href="/help/kf">客服中心</a></span>-->
        </div>
    </div>
</div>
<div class="box-center1">
    <div class="lc" id="j-lcWrap">
        <div class="item reader">
            <h3 class="lang"><i><img src="//qidian.gtimg.com/hongxiu/images/index/help/user.0.1.632a7.png" width="16"></i>我是读者
            </h3>
            <ul id="j-sideBar">
                <li class="q1"><a href="javascript:" class="active">账号体系更新公告</a></li>
                <li class="q2"><a href="javascript:">账户</a></li>
                <li class="q3"><a href="javascript:">阅读</a></li>
                <li class="q4"><a href="javascript:">充值</a></li>
                <li class="q5"><a href="javascript:">订阅</a></li>
                <li class="q6"><a href="javascript:">赠送礼物</a></li>
                <li class="q7"><a href="javascript:">月票</a></li>
                <li class="q8"><a href="javascript:">推荐票</a></li>
                <li class="q9"><a href="javascript:">VIP等级</a></li>
                <li class="q10"><a href="javascript:">迷妹等级</a></li>
                <li class="q11"><a href="javascript:">如何成为作家</a></li>
                <li class="q12"><a href="javascript:">会员业务</a></li>
                <li class="q13"><a href="javascript:">联系客服</a></li>
                <a class="download" id="j-dpDownload" href="javascript:">下载我的短篇</a>
            </ul>
        </div>
        
    </div>

    <div data-qa="q1" class="rc-list-wrap">
        <h3>红袖添香账号体系更新公告</h3>
        <div class="content1">
            <p>尊敬的红袖用户，您好：<br>因红袖产品升级和账号安全维护，本次账号升级可能对部分用户登录造成影响。给您造成不便，敬请谅解。</p>
            <p>如果您已经是红袖注册用户：</p>
            <ol>
                <li>6月8日前注册的用户，登录页，选择“红袖账号”，填写账号和密码就可以直接登录；</li>
                <li>6月8日后注册的用户，登录页，选择 “阅文通行证”，填写账号和密码就可以直接登录。</li>
            </ol>
            <p>如果您还没有红袖账号：</p>
            <ol>
                <li>点击“注册阅文通行证”注册，再登录时，请选“阅文通行证”登录；</li>
                <li>不想注册，您可以直接选择QQ、微信等第三方登录方式直接登录。</li>
            </ol>
            <p>阅文通行证是什么？</p>
            <p>账号升级为阅文通行证后，您就可以无需再次注册，直接畅通无阻的登录阅文旗下各个产品，海量精品书等你来畅读。</p>
            <p>我的阅文通行证是什么？</p>
            <ol>
                <li>6月8日前注册的用户，在原账户后面添加后缀“.hx”就是阅文通行证，登录作家专区、安全中心，一定要记得加后缀；</li>
                <li>6月8日后注册的用户，直接就是阅文通行证啦，无需添加任何后缀。</li>
            </ol>
            <p>如何找回密码？</p>
            <ol>
                <li>6月8日前注册的用户，找回密码时，需在账号后添加后缀“.hx”；</li>
                <li>没有绑定过安全手机或邮箱的用户，找回密码时，需提供充值单号等充值凭证，通过申诉的方式找回。</li>
            </ol>
            <p>登录以后阅读记录或账户余额丢失怎么办？</p>
            <p>如果您的账户绑定多个QQ或多个微信，或者QQ和微信同时绑定，根据我们的账号升级规则，一个账户只能帮定一个QQ或者一个微信，</p>
            <p>您登录后发现阅读记录或者账户余额等信息丢失，请尝试使用其他绑定的QQ或者微信登录。</p>
            <p>其他问题，请联系红袖客服。</p>
            <p>客服电话：010-59357051</p>
            <p>客服QQ：800057679</p>
            <p>读者咨询邮箱：<a href="mailto:ywkf@yuewen.com">ywkf@yuewen.com</a></p>
            <p>作者咨询邮箱：<a href="mailto:zzkf@yuewen.com">zzkf@yuewen.com </a></p>
        </div>
    </div>
</div>
<% include footer.html%>