<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>用户个人中心</title>
	<link rel="stylesheet" href="/layui/css/layui.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="icon" href="/img/ico.png" type="img/x-ico">
	<script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="/js/mycenter.js"></script>
	<script src="/layui/layui.all.js"></script>
</head>

<body>
	<div class="layui-container">
		<div class="layui-row uscontent">
			<div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
				<div class="layui-nav-item top">
					<span class="layui-icon layui-icon-username"></span>个人中心
				</div>
				<div id="usnav">
					<ul class="layui-nav layui-nav-tree  daohang" lay-filter="test">
						<li class="layui-nav-item layui-this">
							<a href="javascript:;"><span class="layui-icon layui-icon-username">我的首页</span></a>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;"><span class="layui-icon layui-icon-read">&nbsp;我的书架</span></a>
						</li>
						<li class="layui-nav-item">
								<a href="javascript:;"><span class="layui-icon layui-icon-set">&nbsp;个人设置</span></a>
							</li>
						<li class="layui-nav-item">
							<a href="javascript:;"><span class="layui-icon layui-icon-share">&nbsp;邀请有礼</span></a>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;"><span class="layui-icon layui-icon-speaker">&nbsp;我的书评</span></a>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;"><span class="layui-icon layui-icon-rmb">&nbsp;我的钱包</span></a>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;"><span class="layui-icon layui-icon-set">&nbsp;订阅设置</span></a>
						</li>
						
						<li class="layui-nav-item">
							<a href="javascript:;"><span>退出登录</span></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="layui-col-xs6 layui-col-sm6 layui-col-md7 bottom">
				<div class="index" id="index">
					<div class="index_top">
						<img src="/img/lady1.jpg" />
						<div class="top_right">
							<p class="bigtext"><%= username%></p>
							<hr />
							<p style="font-size: 16px;font-family: '楷书';">会员积分（动态粉丝值）：102点</p>
							<p style="font-size: 16px;font-family: '楷书';margin-top: 10px;">您今天还没签到，你共签到10天，连续签到23天，50点</p>

						</div>
						<div class="line"></div>
					</div>
					<div class="index_center">
						<div class="center1">
							<ul>
								<li>
									<h2 style="margin-top: 10px;"><i class="layui-icon layui-icon-rmb"></i>&nbsp;账户余额</h2>
									<p><span>20&nbsp;</span>银杏币</p>
									<p><span>10&nbsp;</span>元宝</p>
									<p><span>50&nbsp;</span>体验币</p>
									<a href="#">充值</a>
								</li>
								<li>
									<h2 style="margin-top: 10px;"><i class="layui-icon layui-icon-read"></i>&nbsp;我的书架</h2>
									<p><span>0&nbsp;</span>藏书</p>
									<a href="#">前往查看</a>
								</li>
								<li>
									<h2 style="margin-top: 10px;"><i class="layui-icon layui-icon-rmb"></i>&nbsp;我的消费</h2>
									<p>累计消费：<span>30&nbsp;</span>银杏币</p>
									<p>累计订阅：<span>50&nbsp;</span>银杏币</p>
								</li>
								<li class="last">
										<h2 style="margin-top: 10px;"><i class="layui-icon layui-icon-speaker"></i>&nbsp;我的书评</h2>
										<p><span>0</span>评论</p>
										<p><span>0</span>回复</p>
										<a href="#">查看</a>
									</li>
							</ul>
						</div>

						<div class="line" style="margin-top: 20px;"></div>
					</div>
				</div>
				<div class="mybookcase">
					<% for(let n of novel){%>
					<div style="padding: 20px; background-color: #F2F2F2;">
						<div class="layui-row layui-col-space15">
							<div class="layui-col-md11">
								<div class="layui-card">
									<div class="layui-card-body n-card">
										<img class="n-leftn-left" src="<%= n.nimg%>" alt="">
										<div class="n-right1">
											<h3><a href="#"><%= n.nname%></a></h3>
											<p><%= n.info%></p>
											<div class="n-card-footer">
												<p class="n-card-author"><%= n.aname%></p>
												<p class="n-card-type"><%= n.noveltype%></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<%}%>
				</div>
				<div class="invite">
						<div class="userinfo">
								<h3 class="au-title">用户资料</h3>
								<div class="self">
									<form action="" method="post" id="auinfo" enctype="multipart/form-data">
										<label class="layui-form-label">头像：</label>
										<label for="images" class="header">
											<img  class="logo" /><br />
										</label>
										<input type="file" name="images" id="images" style="display:none">
										<input type="hidden" value="" id="imgval">
							
										<div class="layui-form-item myinfo">
							
											<div class="layui-form-item">
												<label class="layui-form-label">性别：</label>
												<div class="layui-input-block au-sex">
													<input type="radio" name="sex" value="男" title="男"> 男
													<input type="radio" name="sex" value="女" title="女"> 女
													<input type="radio" name="sex" value="保密" title="保密" checked=""> 保密
												</div>
											</div>
							
											<label class="layui-form-label">电话号码：</label>
											<div class="layui-input-block">
												<input type="text" name="atel" required lay-verify="required" autocomplete="off" class="layui-input"
													value="">
											</div><br />
							
											<label class="layui-form-label">邮箱：</label>
											<div class="layui-input-block">
												<input type="text" name="aemail" required lay-verify="required" autocomplete="off" class="layui-input"
													value="">
											</div><br />
									</form>
									<br />
									<br />
							
								</div>
								<button class="sure" type="button">确定保存</button>
							</div>
				</div>
			</div>
		</div>


	</div>

<%include footer.html%>