*{
    padding: 0;
    margin: 0;
}
.layui-layout-admin .header1 {
     background-color: white;
 }
 
 .layui-header img{
     width: 115px;
     height: 50px;
    padding-left: 150px;
    padding-top: 10px;
    float: left;
 }
 .layui-header img:after{
     clear: both;
 }
 #box{
    width: 390px;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    margin: 0px ;
    padding-left: 200px;
    padding-top: 18px;
    float: left;
}
#box input{
    width: 300px;
    border: 1px solid #e2e2e2;
    height: 40px;
    float: left;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;
    padding:0 0 0 10px;
    border-radius: 5px;
}
#search{
    width: 78px;
    height: 40px;
    float: right;
    background: rgb(93,145, 77);
    color: white;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    border-radius: 5px;
}
#login1 {
    float: right;
    width: 200px;
    font-size: 16px;
    font-family: 'Microsoft YaHei';
    padding-top: 30px;
    margin-right: 60px;
    display: block;
}
#login1 li{
    float: left;
    list-style-type: none;
}
.layui-nav {
    margin-top: 20px;
    padding-left: 130px;
    font-size: 45px;
    background-color:rgb(93,145, 77);
    color:white;
}
.author {
    float: right;
    padding-right: 250px;
}
.footer {
    height: 50px;
    background-color:#333;
}
.layui-breadcrumb {
    margin-left: 290px;
    padding-top:15px;
}
/* body{
	background-color: lightblue;
} */
#agree{
	color: blue;

}
.big-box{
	position: absolute;
	top:100px;
	left: 350px;
	/* height: 500px; */
	/* border: 1px solid gray; */
	background-color: white;
}
.second-box{
	position: relative;
	top:20px;
}
span{
	color: red;
}
.fuwu{
	color: blue;
}

.top-header{
	position: absolute;
	top:56px;
	
}
.logo{
	height: 80px;
	width:200px;
}

.n-card {
    position: relative;
}
.n-right {
    width: 280px;
    height: 140px;
    position: absolute;
    left: 135px;
    top: 10px;
}

.n-right>p {
    width: 100%;
    height: 80px;
    overflow: hidden;
  }

.n-card-footer {
    color: #a6a6a6;
}
.n-card-author {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.n-card-type {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.author-regist-a {
    margin-left: 40px;
}
 #author-nav {
     height: 58px;
     width: 100%;
     background-color: white;
     box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.1);
     position: relative;
 }

 #author-nav .logo {
     width: 140px;
     height: 100%;
     position: absolute;
     left: 100px;
 }

 .author-tou {
     width: 36px;
     height: 36px;
     position: absolute;
     right: 200px;
     top: 11px;
 }

 .author-name {
     color: black;
     position: absolute;
     right: 100px;
     top: 20px;
 }
 .author-body {
     background-color: #EFEFEF;
 }
 .author-block {
    width: 120px;
    font-size: 28px;
    margin: auto;
    line-height: 58px;
    color: rgb(93,145, 77);
}
 .author-content {
     width: 1100px;
     height: 600px;
     margin: 20px auto;
     /* border: 1px solid gray; */
     position: relative;
 }
 .author-aside {
     width: 80px;
     background-color: white;
     font-size: 16px;
     box-shadow: 2px 4px 8px 2px rgba(7, 17, 27, 0.1);
 }
 .author-aside li {
     height: 40px;
     line-height: 40px;
     text-align: center;
 }
 .author-aside-content li {
     width: 1010px;
     height: 600px;
     /* border: 1px solid rgb(182, 180, 182); */
     background-color: white;
     position: absolute;
     top: 0px;
     right: 0px;
     display: none;
     box-shadow: 2px 4px 8px 2px rgba(7, 17, 27, 0.1);
 }
 
 .layui-form-item .red {
    color: red !important;
}
.coder {
    margin-top: -10px;
}
#userimg{
    width: 36px;
    height: 36px;
    padding: 0px;
}
#user1 {
    padding-top: 10px;
    padding-left: 15px;
}
 
.red {
    color:red !important;
}
 