*{
    padding: 0;
    margin: 0;
}
#user_login {
    background-image: url("/img/s1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* .back {
    background-image: url("/img/s2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */
#tot_body{
    background: linear-gradient(white,rgb(93,145, 77));

}
.layui-layout-admin .header1 {
     background-color: transparent;
 }
 
 .layui-header img{
     width: 115px;
     height: 50px;
    padding-left: 150px;
    padding-top: 10px;
    float: left;
 }
 .layui-header img:after{
     clear: both;
 }
 #box{
    width: 390px;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    margin: 0px ;
    padding-left: 200px;
    padding-top: 18px;
    float: left;
}
#box input{
    width: 300px;
    border: 1px solid #e2e2e2;
    height: 40px;
    float: left;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;
    border-radius: 5px;
    text-indent: 1em;
}
#search{
    width: 78px;
    height: 40px;
    float: right;
    background: rgb(93,145, 77);
    color: white;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    border-radius: 5px;
    line-height: 40px;
    
}
#search a {
    color: white;
}
#login1 li{
    float: left;
    list-style-type: none;
}
.admin {
    float: right;
    padding-right: 200px;
}
.layui-nav {
    margin-top: 20px;
    padding-left: 130px;
    font-size: 45px;
    background-color:rgb(93,145, 77);
    color:white;
}
.author {
    float: right;
    padding-right: 250px;
}
.footer {
    height: 50px;
    background-color:#333;
}
.layui-breadcrumb {
    margin-left: 290px;
    padding-top:15px;
}
#agree{
	color: blue;

}
.big-box{
	position: absolute;
	top:150px;
	left: 300px;
	background-color: rgba(255, 255, 255, 0.5);
}
.second-box{
	position: relative;
	top:20px;
}
span{
	color: red;
}
.fuwu{
	color: blue;
}

.top-header{
	position: absolute;
	top:56px;
	
}
.logo{
	height: 80px;
	width:200px;
}
.layui-card img:hover {
    animation: change 1s linear forwards;
}

@keyframes change {
    0% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}
.n-card {
    position: relative;
}
.n-leftn-left {
    width: 105px;
    height: 140px;
}
/* .n-leftn-left:hover{
    width: 115px;
    height: 150px;
} */
.n-right {
    width: 280px;
    height: 140px;
    position: absolute;
    left: 135px;
    top: 10px;
}
.n-right1 {
    width: 430px;
    height: 140px;
    position: absolute;
    left: 135px;
    top: 10px;
}
.n-right1>p {
    width: 100%;
    height: 78px;
    margin-top: 10px;
    overflow: hidden;
}
.n-right>p {
    width: 100%;
    height: 78px;
    margin-top: 10px;
    overflow: hidden;
  }

.n-card-footer {
    color: #a6a6a6;
}
.n-card-author {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.n-card-type {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.author-regist-a {
    margin-left: 40px;
}
 #author-nav {
     height: 58px;
     width: 100%;
     background-color: white;
     box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.1);
     position: relative;
 }

 #author-nav .logo {
     width: 140px;
     height: 100%;
     position: absolute;
     left: 100px;
 }

 .author-tou {
     width: 36px;
     height: 36px;
     position: absolute;
     right: 200px;
     top: 11px;
 }

 .author-name {
     color: black;
     position: absolute;
     left: 1160px;
     top: 20px;
 }
 .author-body {
     background-color: #EFEFEF;
 }
 .author-block {
    width: 120px;
    font-size: 28px;
    margin: auto;
    line-height: 58px;
    color: rgb(93,145, 77);
}
 .author-content {
     width: 1100px;
     height: 600px;
     margin: 20px auto;
     /* border: 1px solid gray; */
     position: relative;
 }
 .author-aside {
     width: 80px;
     background-color: white;
     font-size: 16px;
     box-shadow: 2px 4px 8px 2px rgba(7, 17, 27, 0.1);
 }
 .author-aside li {
     height: 40px;
     line-height: 40px;
     text-align: center;
 }
 .author-aside-content li {
     width: 1010px;
     height: 600px;
     /* border: 1px solid rgb(182, 180, 182); */
     background-color: white;
     position: absolute;
     top: 0px;
     right: 0px;

     box-shadow: 2px 4px 8px 2px rgba(7, 17, 27, 0.1);
 }
 
 .layui-form-item .red {
    color: red !important;
}
.coder {
    margin-top: -10px;
}
.userimg{
    width: 36px;
    height: 36px;
    line-height: 36px;
    padding-right: 10px;
    float: left;
    font-size: 18px;
}
/* .userimg>a{
    color: white;
} */
.userimg1{
    padding-top: -5px;
}
.user1 img {
    width: 40px;
    height: 40px;
    float: left;
    padding-top: 10px;
    padding-left: 0px;
}
.user1 {
    float: left;
    height: 40px;
    line-height: 65px;
    padding-left: 15px;
    margin-top: -15px;
}
#login1 {
    float: right;
    width: 200px;
    font-size: 16px;
    font-family: 'Microsoft YaHei';
    padding-top: 30px;
    margin-right: 60px;
}

.red {
    color:red !important;
}
.layui-container {
    margin-top: 30px;
    
}




/* ????????????? */
.content {
	border: 1px solid rgb(93,145, 77);
	margin-top: 20px;
}
 .top {
	height: 90px;
	line-height: 90px;
	font-size: 30px;
}

.layui-icon-username {
	font-size: 60px;
	color: rgb(93,145, 77);
}

.daohang {
	background-color: ghostwhite;
	width: 100%;
	
}
.daohang li span {
	color: black;
	margin-left: 30px;
}
.layui-nav * {
    font-size: 14px;
}
.daohang .layui-nav-item a:hover {
	background-color: white;
}
.layui-col-md3 {
    border: 1px solid rgb(93,145, 77);
    border-right: none;
    
}
.layui-col-md7 .index_top img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 40px;
}
.layui-col-md7 .index_top  .top_right {
	width: 75%;
	margin-top: -130px;
	margin-left: 170px;
}
.top_right .bigtext {
	font-size: 20px;
}
.layui-col-md7 .index_bottom {
	width: 95%;
	margin-top: 30px;
	margin-left: 20px;
}
.bottom {
    height: 470px;
    width: 800px;
    overflow: scroll;
    border: 1px solid rgb(93,145, 77);
}
.mybookcase {
    padding-left: 50px;
    padding-top: 25px;
}
#index {
    display: block;
}
.bottom>div{
    display: none;
}
.flex-container {
    display: flex;
}

.flex-item {
    width: 280px;
    height: 150px;
    margin: 15px;
}
.flex-item img {
	width: 100px;
	height: 150px;
}
.flex-item .info {
	width: 120px;
	margin-top: -145px;
	margin-left: 120px;
	
} 
.flex-item .info .info1 {
	font-size: 12px;
	color: #999;
	margin-top: 5px;
}
.flex-item .info .info2 {
	font-size: 12px;
	overflow: hidden;
	margin-top: 5px;
}
.layui-col-md7 .index_center {
	height: 280px;
}
.layui-col-md7 .index_center ul {
	display: block;
}
.layui-col-md7 .index_center li {
	width: 20%;
	height: 230px;
	margin-left: 30px;
	border-right: 1px dashed  #dfdfdf;
	list-style: none;
	float: left;	
	text-align: center;
}
.layui-col-md7 .index_center .last {
	border: none;
}
.layui-col-md7 .index_center .center1{
	margin-top: 20px;
	height: 250px;
}
.layui-col-md7 .index_center li p {
	margin-top: 15px;
}
.layui-col-md7 .index_center li a{
	display: inline-block;
	margin-top: 15px;
	color: dodgerblue;
}
.layui-col-md7 .index_center li span {
	color: rgb(93,145, 77);
	font-size: 26px;
}
.layui-col-md7 .index_center li .layui-icon {
	font-size: 30px;
	color: rgb(93,145, 77);
}
.text li{
    margin-bottom: 20px;
    position: relative;
}
.text h4{
    font: 700 18px/24px 'Microsoft YaHei';
    overflow: hidden;
    height: 24px;
    margin-bottom: 8px;
    position: absolute;
    left: 120px;
    top: 0px;
    display: inline-block;
}
.card {
    margin-bottom: 30px;
}
.usearch {
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 120px;
    top: 25px;
}
.uinfo {
    width: 70%;
    height: 78px;
    overflow: hidden;
    position: absolute;
    left: 120px;
    top: 50px;
    text-indent: 2em;
    color: #666;
    font-size: 14px;
}
.uupdate {
    width: 200px;
    font-size: 12px;
    position: absolute;
    left: 120px;
    top: 130px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.uda {
    color: #666;
    position: absolute;
    left: 350px;
    top: 130px;
    display: inline;
}
.uright {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 940px;
    top: 45px;
    display: inline-block;
}
.uright p {
    width: 100px;
    height: 34px;
    color: #fff;
    border-radius: 100px;
    text-align: center;
    line-height: 34px;
    margin-bottom: 20px;
    background: rgb(93,145, 77);
}
#free {
    margin-left: -5px;
}
.au-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #DFE0E6;
    text-indent: 2em;
}

.self .logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: -10px;
}

.sure {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 30px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    margin-left: 180px;
}

.self {
    width: 500px;
    margin: 40px;
}
.myinfo {
    margin-top: 10px;
}
.au-sex {
    padding-top: 10px;
}
.au-btn {
    width: 80px;
    height: 60px;
    color: black;
    margin-left: 20px;
    background-color: white;
}
.write_novel {
    margin-left: 300px;
}
.write_novel:hover{
    border-bottom: 1px solid blue;
    color: blue;
}

.au_click {
    background-color: rgb(93,145,77);
    color: white;
}
.au_not_click {
    background-color: white;
    color: black;
}
.write_section {
    margin-bottom: 10px;
}
#w-sec-btn {
    position: absolute;
    bottom: 10px;
    left: 270px;
}
.sec-text {
    width: 940px;
    height: 430px;
    margin-left: -75px;
    margin-top: 10px;
}
.section-name {
    margin-left: 10px;
}
.author-option{
	
	margin-top: 40px;
	margin-left: 20px;
	height: 500px;
}
.author-fuzu{
	margin-left: 70px;
}
.author-magin{
	margin-top:30px ;
}
.author-daohang1{
	margin-left: 40px;
}
.author-option{
	/* margin: auto; */
	width: 600px;
}
.select-magin{
	margin-left:10px ;
}
.author-btn-margin{
	margin-left:250px ;
	color:#fff;
	background-color: #009688;
}
.author-body {
    background-image: url('/img/authorbg.jpg');
}